{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe
{% endblock %}

{% block body %}
	<section id="events" class="events m100">
		<div class="container" data-aos="fade-up">

			<div class="">
				<h2>Modifier mon mot de passe</h2>
				<p>
					<a href="{{path("account")}}">Retour sur mon compte</a>
				</p>
			</div>

			{% if notification %}
				<div class="alert alert-info">
					{{ notification }}</div>
			{% endif %}
			<div class="container ">
				{{form(form)}}
				</div>


			

		</div>
	</section>
	<!-- End Events Section -->
</main>{% endblock %}
