{% extends 'base.html.twig' %}

{% block title %}Modification mdp{% endblock %}

{% block body %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('../img/register-bg.jpg')">
  <!-- <div class="overlay"></div> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Back-office</h1>
          <span class="subheading">Modifier mon mot de passe</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% if notification %}
<div class="alert alert-info"> {{ notification }}</div>
{% endif %}
<div class="container ">
  {{form(form)}}
</div>

{% endblock %}